---
layout: default
title: Página de aplicativo
---

<div class="ls-md-space ls-no-padding-top ls-no-padding-right ls-txt-right">
    <a href="#" class="ls-btn-danger">Desabilitar aplicativo</a>
</div>

<div class="ls-box-group ls-overflow-hidden ls-sm-space ls-no-padding-left ls-no-padding-right ls-no-padding-top">

    <div class="row">

        {% for box in site.data.app_box %}

        <div class="col-md-4">
            <div class="ls-box ls-md-space ls-no-bg">
                <div class="ls-box-head">
                    <h6 class="ls-title-6">{{ box.title }}</h6>
                    <p class="ls-sm-space ls-no-padding-left">
                        {{ box.text }}
                    </p>
                </div>
                <div class="ls-box-body">
                    <a href="#" class="ls-btn ls-btn-primary ls-btn-block">Botão principal</a>
                    {% assign modulo = forloop.index|modulo:3 %}
                    {% if modulo == 0 %}
                        <a href="#" class="ls-btn ls-btn-default ls-btn-block">Botão secundário</a>
                        <a href="#" class="ls-btn ls-btn-default ls-btn-block">Botão secundário</a>
                    {% endif %}

                    {% if modulo > 0  %}
                        <a href="#" class="ls-btn ls-btn-default ls-btn-block">Botão secundário</a>
                    {% endif %}
                </div>
            </div>
        </div>

            {% if modulo == 0 and forloop.last == false %}
                </div>
                <div class="row">
            {% endif %}

        {% endfor %}

    </div>

</div>
