<div class="ls-pagination-filter">

    <div class="row">
        <div class="col-md-4">
            <div class="ls-filter-view">
                Exibir
                <div class="ls-custom-select">
                    <select name="" id="" class="ls-select">
                    <option value="10">10</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    </select>
                </div>
                itens por página
            </div>
        </div>

        <div class="col-md-3">
            <p class="ls-margin-auto ls-overflow-hidden ls-no-margin-bottom ls-txt-center ls-sm-space">
                Total de {{ site.data.items.size }} encontrados
            </p>
        </div>
        
        <div class="col-md-5">
            <ul class="ls-pagination">
                <li><a href="#">&laquo; Anterior</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Próximo &raquo;</a></li>
            </ul>
        </div>

    </div>

</div>