<!DOCTYPE html>
<html class="ls-theme-blue">

{% include head.html %}

<body>
    <div id="app"></div>

    <main class="ls-main">
        <div class="container-fluid">
            {% include breadcrumb.html variable-title=page.name %}
        </div>
    </main>
    <script src="node_modules/locawebstyle/dist/javascripts/libs/jquery-2.1.0.min.js"></script>
    <script src="node_modules/locawebstyle/dist/javascripts/locastyle.js"></script>
    <script src="js/dist/bundle.js"></script>
</body>

</html>
