<!DOCTYPE html>
<html class="ls-theme-blue">

{% include head.html %}

<body>
    {% include header.html %}

    {% include sidebar.html %}

    <main class="ls-main">
        <div class="container-fluid">
            {% include breadcrumb.html %}

            {{ content }}
        </div>
    </main>

    <script src="//code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="//opensource.locaweb.com.br/locawebstyle/assets/javascripts/locastyle.js" type="text/javascript"></script>
</body>

</html>
